extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  main
    p(data-plugin) TODO
    a(data-url="temp1.html", href="#", id="show-pop1", class="btn btn-primary") show popup
    div(id="desc") div show popup content
