extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  main
    p(data-plugin) TODO
    a(data-url="test.jade" data-pkpopup="", href="#", id="show-popup", class="btn btn-primary") show popup
    div(id="desc") div show popup content
