extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  main
    p(data-plugin) TODO
    button(data-url="test.jade" data-pkpopup="", class="btn btn-primary btn-pop1") show popup 1
    button(data-url="popup2.jade" data-pkpopup="", class="btn btn-primary btn-pop2") show popup 2
    button(class="btn btn-primary btn-pop3") show popup 3
    button(class="btn btn-primary btn-pop4") show popup 4
